async-timeout==4.0.3
dnspython==2.5.0
mysql-connector-python==8.3.0
numpy==1.26.3
pandas==2.2.0
pymongo==4.6.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.1
six==1.16.0
tzdata==2023.4
